.task-container {
  padding: 0.2rem;
  background: #f9f9f9;
  border-radius: 8px;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: 0.5rem;
  margin-top: 0.5rem;
}

.task-columns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.non_started {
  color: gray;
}
.in_progress {
  color: blue;
}
.paused {
  color: orange;
}
.late {
  color: red;
  font-weight: bold;
}
.finished {
  color: green;
  text-decoration: line-through;
}

.form-container {
  padding-inline: 3rem;
}

::ng-deep .p-field {
  padding-bottom: 1.5rem;
  padding-inline: 2rem;
}
