

.non_started {
  color: gray;
}
.in_progress {
  color: blue;
}
.paused {
  color: orange;
}
.late {
  color: red;
  font-weight: bold;
}
.finished {
  color: green;
  text-decoration: line-through;
}

.form-container {
  padding-inline: 3rem;
}

.task{
  font-size: 1.2rem;
}