.task-container {
  background: #f9f9f9;
  border-radius: 8px;
  color: black;
  padding: 0.5rem;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.p-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: 1rem;
}


/* Estados */
.non_started {
  color: gray;
}
.in_progress {
  color: blue;
}
.paused {
  color: orange;
}
.late {
  color: red;
  font-weight: bold;
}
.finished {
  color: green;
  text-decoration: line-through;
}
