<div class="task-container">
  <h4>{{ isEdit ? 'Edit Task' : 'Create Task' }}</h4>

  <form class="task-form" (ngSubmit)="submit()">
    <!-- Title -->
    <div class="p-field">
      <label for="title">Title</label>
      <input pInputText id="title" [(ngModel)]="newTitle" name="title" placeholder="New task..." />
    </div>

    <!-- Status -->
    <div class="p-field">
      <label>Status</label>
      <p-selectButton 
        [options]="[
          {label:'Non Started', value:'Non Started'},
          {label:'In Progress', value:'In Progress'},
          {label:'Paused', value:'Paused'},
          {label:'Late', value:'Late'},
          {label:'Finished', value:'Finished'}
        ]"
        [(ngModel)]="newStatus" 
        name="status">
      </p-selectButton>
    </div>

    <!-- Description -->
    <div class="p-field">
      <label for="description">Description</label>
      <input type="text" pInputTextarea id="description" [(ngModel)]="newDescription" name="description" rows="3" placeholder="Describe task..." />
    </div>

    <!-- Due Date -->
    <div class="p-field">
      <label for="dueDate">Due Date</label>
      <p-datepicker id="dueDate" [(ngModel)]="newDueDate" name="dueDate" dateFormat="yy-mm-dd" [showIcon]="true" [appendTo]="'body'"></p-datepicker>
    </div>

    <!-- Categories -->
    <div class="p-field">
      <label>Categories</label>
      <p-multiSelect 
        [options]="storeCategories.categories()" 
        optionLabel="name" 
        [(ngModel)]="categories" 
        name="categories"
        placeholder="Select categories"
        [appendTo]="'body'">
      </p-multiSelect>
    </div>

    <!-- Tags -->
    <div class="p-field">
      <label>Tags</label>
      <p-multiSelect 
        [options]="storeTags.tags()" 
        optionLabel="name" 
        [(ngModel)]="tags" 
        name="tags"
        placeholder="Select tags"
        [appendTo]="'body'">
      </p-multiSelect>
    </div>

    <!-- Actions -->
    <div class="dialog-footer">
      <p-button type="submit" label="{{ isEdit ? 'Update' : 'Add' }}" icon="pi pi-check" severity="success"></p-button>
      <p-button type="button" label="Cancel" icon="pi pi-times" severity="secondary" (click)="close()"></p-button>
   </div>
  </form>
</div>
