<div class="category-container">
  <div class="header">
  <h3 style="color: #343a40;">Add new Category...</h3>
  <p-button severity="help" icon="pi pi-plus" (click)="openDialog()"></p-button>
  </div>
  <div class="category-list">
    <ul>
      @for (cat of store.categories(); track cat.id) {
        <p-card [style.backgroundColor]="cat.color" class="card">
          <div class="cardcontent">
          <span class="title">{{ cat.name }}</span>
          <p-button severity="danger" (click)="store.deleteCategory(cat.id)">
            <i class="pi pi-trash" style="font-size: 0.9rem"></i>
          </p-button>
        </div>
        </p-card>
      }
    </ul>
  </div>
</div>

<p-dialog header="Create Category" [(visible)]="showCreateDialog" [modal]="true"
  [draggable]="false" [resizable]="false">
  <form [formGroup]="categoryForm" (ngSubmit)="submit()" class="p-fluid form-container">
    <div class="p-field">
      <input type="text" pInputText id="name" formControlName="name" name="name" placeholder="Category name"/>
    </div>
    <div class="p-field">
      <label for="color">Color</label>
      <p-colorPicker id="color" formControlName="color" name="color" [appendTo]="'body'"></p-colorPicker>
    </div>
    <p-button type="submit" label="Save" icon="pi pi-check" severity="success"></p-button>
  </form>
</p-dialog>

