<div class="category-grid-container">
  @for (cat of (categories$ | async); track cat.id) {
  <p-chip class="category-chip" [style.backgroundColor]="cat.color" [removable]="true" (onRemove)="deleteCategory(cat)">
    <i class="pi pi-folder mr-2"></i>
    <span class="category-name">{{ cat.name }}</span>
  </p-chip>
  }
</div>

<div class="category-actions">
  <p-button icon="pi pi-plus" label="Add Category" severity="help" size="small" outlined="true" (click)="openDialog()">
  </p-button>
</div>

<!-- Dialog -->
<p-dialog 
  header="Create Category" 
  [(visible)]="showCreateDialog" 
  [modal]="true" 
  [draggable]="false" 
  [resizable]="false"
  [style]="{ width: '420px' }"
  appendTo="body"
  class="category-dialog"
>
  <form 
    [formGroup]="categoryForm" 
    (ngSubmit)="submit()" 
    class="flex flex-col gap-6 p-4"
  >
    <!-- Name -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium text-white/90 flex items-center gap-2">
        <i class="pi pi-folder text-violet-300"></i>
        Category name
      </label>

      <span class="p-input-icon-left w-full">
        <input 
          pInputText
          formControlName="name"
          placeholder="e.g., Work, Home, Finance"
          class="w-full bg-slate-800/60 border border-white/10 rounded-lg px-3 py-2 text-white placeholder-white/40"
          autofocus
        />
      </span>
      <!-- Handle if cat has no name -->
      @if (categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched) {
        <small class="p-error flex items-center gap-1 mt-1">
          <i class="pi pi-exclamation-circle"></i>
          Category name is required
        </small>
      }
    </div>

    <!-- Color -->
    <div class="flex flex-col gap-2">
      <label class="text-sm font-medium text-white/90 flex items-center gap-2">
        <i class="pi pi-palette text-amber-300"></i>
        Color
      </label>
      <!-- Color  component for choosing colours -->
      <div class="flex items-center gap-3">
        <p-colorPicker 
          formControlName="color" 
          [appendTo]="'body'">
        </p-colorPicker>

      </div>
    </div>

    <!-- Buttons -->
    <div class="flex justify-end gap-3">
      <p-button 
        label="Cancel" 
        icon="pi pi-times" 
        severity="secondary"
        styleClass="px-4 py-2 rounded-lg"
        (click)="showCreateDialog = false">
      </p-button>

      <p-button 
        type="submit" 
        label="Save" 
        icon="pi pi-check" 
        severity="success"
        styleClass="px-4 py-2 rounded-lg"
        [disabled]="categoryForm.invalid">
      </p-button>
    </div>
  </form>
</p-dialog>
