.tag-container {
    padding: 0.2rem;
    background: #f9f9f9;
    border-radius: 8px;
  }

.form-container {
  margin: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tag-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ::ng-deep .p-button {

    margin-left: 1rem;

  }

  .header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 0.5rem;
    margin-top: 0.5rem;
  }