.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
  }
  
  .app-header {
    padding: 0.1rem;
    color: white;
    align-self: center;

  }
  
  .dashboard-grid {
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.3fr; 
    gap: 1rem;
  }
  .left {
    background: whitesmoke;
    
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 6px;
  }
  
  .center {
    background: whitesmoke;
    
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 6px;
  }
  
  .right {
    background: whitesmoke;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  