<div class="subtask-list">
 <ul>
    @for (sub of store.subtasks(); track sub.id) {
      <li class="item">
        {{ sub.title }}
        <p-button severity="danger"(click)="deleteSubtask(sub.id)">
          <i class="pi pi-trash" style="font-size: 0.9rem"></i>
        </p-button>
      </li>
       }
  </ul>
  
</div>
<div class="bottom">
<h4 style="color: #343a40;">Add new Subtask...</h4>
  <p-button severity="help" icon="pi pi-plus" (click)="openDialog()"></p-button>
</div>

<p-dialog header="Create Category" [(visible)]="showCreateDialog" [modal]="true"
  [draggable]="false" [resizable]="false">
  <form (ngSubmit)="submit()" class="p-fluid form-container">
    <div class="p-field">
      <input type="text" pInputText id="title" [(ngModel)]="title" name="title" placeholder="New subtask" />
    <p-button type="submit" >Add </p-button>
       </div>
  </form>
</p-dialog>
